body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
  }
  html,body,.building-page{
    height: 100%;
  }
  
  .building-page {
    
    height: 100vh;
    background: url('https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&w=1600') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set text color to white or a suitable color for readability */
    background-size: cover;
  }
  
  .content-container {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
  }
  
  .login-button,
  .signup-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    background-color: purple; /* Green, replace with your preferred color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: black; /* Darker shade on hover, adjust accordingly */
  }
  